* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #0c0808;
}

.section {
  display: flex;
  justify-content: center;
}

#text {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 10px;
}

.btn__container {
  display: inline-flex;
  flex-direction: column;
  margin-top: 200px;
  border-radius: 6px;
}

.btn--style {
  width: 120px;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  color: crimson;
  outline: none;
  border: 2px solid orangered;
  border-radius: 6px;
}

.btn--style:hover {
  background-color: orangered;
  color: white;
  transition: .3s ease-in-out;
}